
_xenia/xenia.log
_xenia/cache
_build/gen/main_xbox.hdr
_build/gen/main_xbox_0.ark
_build/gen/main_xbox_1.ark
_build/gen/main_xbox_2.ark
_build/gen/main_xbox_3.ark
_build/gen/main_xbox_4.ark
_build/gen/main_xbox_5.ark
_build/gen/main_xbox_6.ark
_build/gen/patch_xbox.hdr
_build/gen/patch_xbox_0.ark
dependencies/Mackiloha-master.zip
dependencies/linux/arkhelper
dependencies/linux/dtab
dependencies/linux/superfreq
dependencies/macOS/arkhelper
dependencies/macOS/dtab
dependencies/macOS/superfreq
dependencies/windows/arkhelper.exe
dependencies/windows/dtab.exe
dependencies/windows/superfreq.exe
_xenia/xenia.log
_build/patch_xbox.hdr
_build/patch_xbox_0.ark
_build/gen/main_xbox_7.ark
_xenia/content
_xenia/x360ce.ini
_xenia/xinput1_1.dll
_xenia/xinput1_2.dll
_xenia/xinput1_3.dll
_xenia/xinput1_4.dll
_xenia/xinput9_1_0.dll
*.pyc
_build/gen/main_xbox
_xenia/recent.toml
dx.dta
_xenia/LICENSE
_xenia/portable.txt
_xenia/x360ce_source.txt
_xenia/x360ce_x64.exe
_xenia/xenia-canary.config.toml
_xenia/xenia_canary_commit_hash.txt
_xenia/xenia_canary.exe
